<table id="color-legend">
  <thead>
    <tr>
      <th>1000ft AGL</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> </td>
      <td class="height-0">&nbsp;</td>
      <td class="height-1">&nbsp;</td>
      <td class="height-2">&nbsp;</td>
      <td class="height-3">&nbsp;</td>
    </tr>
  </tbody>
</table>
