<table class="color-legend">
  <thead>
    <tr>
      <th>1000ft AGL</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> </td>
      <td class="height-1">&nbsp;</td>
      <td class="height-2">&nbsp;</td>
      <td class="height-3">&nbsp;</td>
      <td class="height-4">&nbsp;</td>
      <td class="height-5">&nbsp;</td>
      <td class="height-6">&nbsp;</td>
      <td class="height-7">&nbsp;</td>
      <td class="height-8">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p id="mouseover-lsalt-grid"></p>