<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Graphical Area Forecasts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/main.css" rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

  {{template "gaf2/menu"}}
  <div id='map' style='width: 400px; height: 400px;'></div>

  {{template "gaf2/color_legend"  }}

  <p>
    <span id="mouseover-summary-lsalt-grid"></span>
    |
    <span id="mouseover-summary-area"></span>
  </p>

  <div id="gaf-table"></div>
  <script src="dist/bundle.js"></script>
</body>
</html>