<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Graphical Area Forecasts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <table border=1>
    <tr>
      <th>Area</th>
      <th>Surface, Vis &amp; Wx</th>
      <th>Cloud, Icing, & Turbulance</th>
      <th rows=2>Freezing level</th>
    </tr>
    {{range .Area}}
      {{$areaID := .ID}}
      {{$wxConds := .WxCond | len}}
      {{$freezingLevel := .FreezingLevel}}
      {{range $index, $wxCond := .WxCond}}
      <tr>
        {{if $index}}
        <td>{{$wxCond.SurfaceVisWx}}</td>
        <td>{{$wxCond.CloudIceTurbulence}}</td>
        {{else}}
        <td rowspan={{$wxConds}}>{{$areaID}}</td>
        <td>{{$wxCond.SurfaceVisWx}}</td>
        <td>{{$wxCond.CloudIceTurbulence}}</td>
        <td rowspan={{$wxConds}}>{{$freezingLevel}}</td>
        {{end}}
      </tr>
      {{end}}
    {{end}}
  </table>
</body>
</html>