<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Graphical Area Forecasts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <table border=1>
    <tr>
      <th>Area</th>
      <th>Surface, Vis &amp; Wx</th>
      <th>Cloud, Icing, & Turbulance</th>
      <th rows=2>Freezing level</th>
    </tr>
    <tr>
      <td rowspan=3>A</td>
      <td>X</td>
      <td>Y</td>
      <td rowspan=3>ABV 10000FT</td>
    </tr>
    <tr>
      <td>X</td>
      <td>Y</td>
    </tr>
    <tr>
      <td>X2</td>
      <td>Y2</td>
    </tr>
    <tr>
      <td rowspan=2>B</td>
      <td>X</td>
      <td>Y</td>
      <td rowspan=2>ABV 10000FT</td>
    </tr>
    <tr>
      <td>X</td>
      <td>Y</td>
    </tr>
  </table>
</body>
</html>