body.vfr-night {
  background-color: #333;
  color: #eee;
}
.area-selected {
  background-color: #7588A1;
}

.sub-area-selected {
  background-color: #1D7AF4;
}

.height-0 {
  background-color: #BB0EC9;
}
.height-1 {
  background-color: #DF8211;
}
.height-2 {
  background-color: #FCFC00;
}
.height-3 {
  background-color: #99DAAA;
}

table.color-legend tbody tr td {
  height: 1em;
}